<!doctype html>
<html lang=en>
<head>
  <title>Passwordless Demo</title>

  <meta charset=utf-8>
  <meta name=viewport content=width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes>

  <link rel=stylesheet href=//unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css>

  <script src=//unpkg.com/vue@2.1.10/dist/vue.js></script>
  <script src=//unpkg.com/vue-router@2.1.3/dist/vue-router.js></script>
  <script src=//unpkg.com/vuelidate@0.2.0/dist/vuelidate.min.js></script>
  <script src=//unpkg.com/vuelidate@0.2.0/dist/validators.min.js></script>
  <script src=//unpkg.com/vue-resource@1.0.3/dist/vue-resource.min.js></script>

  <style>
  body {
    padding: 50px 0;
  }
  button {
    margin-top: 6px;
  }
  .form-centered {
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .input-group-message {
    display: none;
    color: #a94442;
  }
  .input-group-error .input-group-message {
    display: inline;
  }
  .input-group-error input {
    border-color: #a94442;
  }
  .input-group-error input:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169,68,66,.6);
    border-color: #a94442;
  }
  .albums {
    padding: 40px 15px;
  }
  </style>
</head>
<body>
  <div id=app>
    <router-view></router-view>
  </div>

  <script type=text/x-template id=home-page-template>
    <form class=form-centered @submit.prevent=send_otp novalidate>
      <h2>Passwordless Demo</h2>
      <div :class="{'input-group-error':$v.phone.$error}">
        <div class=input-group>
          <span class=input-group-addon>
            <span class="glyphicon glyphicon-phone" aria-hidden=true></span>
          </span>
          <input type=tel class=form-control placeholder="Phone number"
              v-model=phone name=phone @blur=$v.phone.$touch()>
        </div>
        <span class=input-group-message v-if=!$v.phone.required>Please enter your phone number</span>
        <span class=input-group-message v-if=!$v.phone.phone>This is not a phone number</span>
        <span class=input-group-message v-if=!$v.phone.phoneDigitsBetween>We only accept 6 to 15 digit phone numbers</span>
      </div>
      <button class="btn btn-primary btn-block">Send an OTP</button>
    </form>
  </script>

  <script type=text/x-template id=enter-otp-template>
    <form class=form-centered @submit.prevent=authenticate novalidate>
      <h2>Passwordless Demo</h2>
      <p class=text-info>Please confirm your identity with your OTP.</p>
      <div :class="{'input-group-error':$v.otp.$error}">
        <div class=input-group>
          <span class=input-group-addon>
            <span class="glyphicon glyphicon-lock" aria-hidden=true></span>
          </span>
          <input type=text class=form-control placeholder=OTP
            v-model=otp name=otp @blur=$v.otp.$touch()>
        </div>
        <span class=input-group-message v-if=!$v.otp.required>Please enter your OTP</span>
      </div>
      <button class="btn btn-primary btn-block">Sign In</button>
    </form>
  </script>

  <script type=text/x-template id=secret-page-template>
    <div>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class=container>
          <div class=navbar-header>
            <router-link class=navbar-brand to=/secret/albums>Passwordless Demo</router-link>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <router-link to=/secret/albums tag=li active-class=active>
                <router-link to=/secret/albums>Albums</router-link>
              </router-link>
            </ul>
            <p class="navbar-text navbar-right"><a href="/" @click.prevent=signOut><small>Sign Out</small></a></p>
            <p class="navbar-text navbar-right">You're signed in with <strong>{{ userData.phone }}</strong>.</p>
          </div>
        </div>
      </nav>
      <div class=container>
        <router-view></router-view>
      </div>
    </div>
  </script>

  <script type=text/x-template id=albums-template>
    <div class=albums>
      <div class=list-group v-for="a in albums">
        <div class=list-group-item>
          <h4 class=list-goup-item-heading><strong>{{ a.title }}</strong> by <em>{{ a.author }}</em></h4>
          <p class=list-group-item-text>{{ a.label }} &#x2605; {{ a.year }}</p>
        </div>
      </div>
    </div>
  </script>

  <script>
  Vue.use(window.vuelidate.default);

  const APP_SERVICE_URL = 'https://blog-passwordless-service.herokuapp.com/app.php/api';

  const required = window.validators.required;
  const phone = function (value) {
    return !required(value) || !!value.match(/^[\d\s()+-]+$/);
  };
  const digitsBetween = function (min, max) {
    return function (value) {
      const numChars = value.match(/\d/g);
      return !required(value) || (!!numChars && numChars.length >= min && numChars.length <= max);
    }
  };
  const phoneDigitsBetween = function (min, max) {
    return function (value) {
      return !phone(value) || digitsBetween(min, max)(value);
    }
  };

  const router = new VueRouter({
    routes: [
      {
        path: '/',
        component: {
          template: '#home-page-template',
          data: function () {
            return {
              phone: ''
            };
          },
          validations: {
            phone: {
              required,
              phone,
              phoneDigitsBetween: phoneDigitsBetween(6, 15)
            }
          },
          methods: {
            send_otp: function (event) {
              if (this.$v.$invalid) {
                this.$v.$touch();
                return;
              }

              this.$http.get(`${APP_SERVICE_URL}/authenticate/send_otp`, {
                params: {
                  phone: this.phone
                }
              }).then(function (response) {
                if (response.body.error) {
                  alert(response.body.error);
                  return;
                }

                localStorage.setItem('authorization_code', response.body.authorization_code);
                this.$router.push('/enter_otp');
              }, function (response) {
                console.error(response);
              });
            }
          }
        }
      },
      {
        path: '/enter_otp',
        component: {
          template: '#enter-otp-template',
          data: function () {
            return {
              otp: ''
            };
          },
          validations: {
            otp: {
              required
            }
          },
          methods: {
            authenticate: function (event) {
              if (this.$v.$invalid) {
                this.$v.$touch();
                return;
              }

              this.$http.get(`${APP_SERVICE_URL}/authenticate/verify_otp`, {
                params: {
                  otp: this.otp,
                  authorization_code: localStorage.getItem('authorization_code')
                }
              }).then(function (response) {
                if (response.body.error) {
                  alert(response.body.error);
                  return;
                }

                localStorage.setItem('userData', JSON.stringify(response.body));
                localStorage.removeItem('authorization_code');
                this.$router.push('/secret/albums');
              }, function (response) {
                console.error(response);
              });
            }
          }
        }
      },
      {
        path: '/secret',
        component: {
          template: '#secret-page-template',
          data: function () {
            return {
              userData: {}
            };
          },
          created: function () {
            this.userData = JSON.parse(localStorage.getItem('userData'));
          },
          methods: {
            signOut: function () {
              localStorage.clear();
              this.$router.push('/');
            }
          }
        },
        children: [
          {
            path: '',
            redirect: 'albums'
          },
          {
            path: 'albums',
            component: {
              template: '#albums-template',
              data: function () {
                return {
                  userData: {},
                  albums: []
                };
              },
              created: function () {
                this.userData = JSON.parse(localStorage.getItem('userData'));
                this.getAlbums();
              },
              methods: {
                getAlbums: function () {
                  this.$http.get(`${APP_SERVICE_URL}/protected/albums`, {
                    headers: {
                      'Authorization': `${this.userData.token_type} ${this.userData.id_token}`
                    }
                  }).then(function (response) {
                    if (response.body.error) {
                      alert(response.body.error);
                      return;
                    }

                    this.albums = response.body.data;
                  }, function (response) {
                    console.error(response);
                  });
                }
              }
            }
          }
        ]
      }
    ]
  });

  new Vue({
    el: '#app',
    router
  });
  </script>
</body>
</html>
